body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

header {
  padding: 1rem;
  margin: 1rem;
  text-align: center;
}

header a {
  text-decoration: none;
  color:#B10609;
}

.logout {
  text-align: right;
}

.logoutLink {
  font-size: 2rem;
}

.logoutIcon {
  height: 2rem;
  width: auto;
}

.logoutIcon:hover, .logoutIcon:active {
  filter: invert(37%) sepia(93%) saturate(7471%) hue-rotate(360deg) brightness(91%) contrast(135%);
}

main {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homeImg {
  height: 15rem;
  width: auto;
}

p {
  margin: 1rem;
}

.OauthLink, .linkHomepage {
  display: block;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border-radius: 5px;
  width: min-content;
  text-decoration: none;
  font-weight: bold;
  color: white;
}

.OauthLink.discord {
  background-color: #778ddb;
}

.OauthLink.google {
  background-color: #009688;
}

.linkHomepage {
  background-color: #B10609;
}

.secretWelcome {
  font-weight: bold;
}

.secret {
  line-height: normal;
}

footer {
  margin: 2rem;
  text-align: center;
  color: #B10609;
}

footer a {
  text-decoration: none;
  color:#B10609;
}

footer a:hover, a:active {
  color: black;
}